<body ng-app="CatOrDog" ng-controller="BackEndController">
    <div class="backend-container">
        <div class="grid-container">
            <div class="grid-container__column">
                <h2 class="display">Preferences</h2>
                <div class="backend-block" ng-repeat="p in preferences">
                    height of {{ p.height }} prefer dogs {{ p.dog * 100 }}% and cats {{ p.cat * 100 }}%
                </div>
            </div>
            <div class="grid-container__column">
                <h2 class="display">People</h2>
                <div class="backend-block" ng-repeat="p in people">
                    height: {{ p.height }} likes: {{ p.preference }}
                </div>
                <form ng-submit="addPersonInfo()">
                    <input type="text" placeholder="height" ng-model="height"></input>
                    <input type="text" placeholder="preference" ng-model="preference"></input>
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</body>
